* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
	font-size: .95em;
	line-height: 20px;
	background-color: #455A64;
}

#wrapper {
	width: 80%;
	margin: 40px auto;
	padding: 40px;
	color: #eee;
	background-color: #37474F;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,.7);
}

.name {
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
	margin-bottom: 12px;
}

.category {
	margin-bottom: 12px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container:hover {
	cursor: pointer;
}

.pokemon {
	width: 80px;
	height: 80px;
	margin: 10px;
	border-radius: 5px;
}

.pokeball {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
	height: 20px;
    display: none; 
	pointer-events: none;
}

.main__btn {
    font-size: 1.8rem;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;
    outline: none;
    color: #fff;
}

#reset__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    transition: all 0.3s ease;
}

.main__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 1;
}

.main__btn span {
    position: relative;
    z-index: 2; 
    display: inline-block;
    pointer-events: none; /* Ensure pointer events pass through to the button */
}

.main__btn:hover::before {
    opacity: 1;
    box-shadow: 3px 3px 2px 3px rgba(76, 6, 90, 0.3);
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff1ead;
    transition: all 0.5s;
    border-radius: 4px;
}

.main__btn:hover:after {
    width: 100%;
}


.bg-red {
	background-color: #f00;
}

.bg-yellow {
	background-color: #ff0;
}

.bg-neutral {
	background-color: #37474F;
}

.bg-green {
	background-color: #0f0;
}

.bg-blue {
	background-color: #0ff;
}